* {
	margin: 0; padding: 0;
}


#tabs {
	position: absolute;
	left: 0; right: 0; top: 0;
	z-index: 2;
	border-bottom: none;
	margin-bottom: 0;
	.item {
		background: url(images/tab_bg.png) no-repeat center left;
    	a {
    		display: flex;
    		background: url(images/tab_bg.png) no-repeat center left;
	    	padding: 0 30px;
	    	height: 54px;
	    	width: 206px;
    	    justify-content: center;
    		align-items: center;
	    	span {
    		    display: inline-block;
			    line-height: 1;
			    vertical-align: middle;
			    margin-top: -6px;
	    	}
    		&.active {
	    		background-image: url(images/tab_bg_active.png);
				color: #fff;
	    	}
    	}
    	
	}
	.owl-nav {
		button {
			width: 27px; height: 27px;
			position: absolute;
			top: 11px;
			span {
				font-size: 0;
			}
			&.owl-next {
				right: 20px;
				background: url(images/next.png) no-repeat center;
			}
			&.owl-prev {
				left: 20px;
				background: url(images/prev.png) no-repeat center;
			}
			&.disabled {
				opacity: .8;
			}
		}
	}
}
/*HOME PAGE*/

.home_page {
	.main-content {
		background: #402312;
		padding: 35px;
	}
}
.box_top {
	display: flex;
	&--item {
		width: 50%;
		a {
			display: block;
		}
		&.right {
			a:last-child {
				position: relative; top: 5px;
			}
		}
	}
}